* {
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000c4;
}

form {
  display: block;
  position: relative;
  text-align: left;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 50px;
  z-index: 2;
}

form .from-inner h2 {
  columns: #888888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .from-inner .form-group {
  display: block;
  width: 300px;
  margin: bottom 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 15px;
  margin-bottom: 3px;
  transition: 0.4s;
  margin-top: 10px;
}

.form-inner .form-group:focus-within label {
  color: #fe4880;
}

form .form-inner .form-group input {
  display: block;
  widows: 100%;
  padding: 10px 15px;
  background-color: #f8f8ff;
  border-radius: 8px;
  transition: 0.4s;
  width: 100%;
}

form .form-inner .form-group input :focus {
  box-shadow: 0px 0 px 3px rgb(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"],
.welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.4s;
  color: white;
  margin-top: 12px;
  background-color: black;
}

.play-buttom {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.4s;
  color: white;
  margin-top: 12px;
  background-color: black;
  text-decoration: none;
}

.welcome {
  background-color: white;
  padding: 15px 30px;
  border-radius: 0.25rem;
}

.welcome h2 {
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color: #fe4880;
  font-weight: 700;
}

.game-area {
  position: absolute;
  margin-left: 25%;
  width: 700px;
  height: 550px;
  border: 1px solid #fff;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  grid-gap: 30px;
  background-color: #313131;
}

.time-span {
  padding: 0.3rem;
  border: 3px solid #fff;
  margin: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.time-span ~ span {
  color: #fff;
}

.time-div {
  display: flex;
  align-items: center;
}
